// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



// Custom Global CSS
// -----------------------------------------------------

/* =====================
   Variables
   ===================== */

$skyblue:           #5bc0f5;
$lightblue:         #216ff3;
$dark-blue:         #2d4159;
$theme-color:       #42a5f5;
$extra-light-grey:  #b3b3b3;
$body-bg:           #fafafa;

$font-light:    100;
$font-regular:  400;
$font-medium:   500;
$font-bold:     600;

/* =====================
   Mixins
   ===================== */

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
        -ms-box-shadow: $shadow;
            box-shadow: $shadow;
}


/* =====================
   Gradients
   ===================== */
  
.gradient-bg{

    .scroll-content{
        background: $skyblue; /* Old browsers */
        background: -moz-linear-gradient(top, $skyblue 0%, $lightblue 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, $skyblue 0%,$lightblue 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, $skyblue 0%,$lightblue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$skyblue', endColorstr='$lightblue',GradientType=0 ); /* IE6-9 */
    }
}


/* =====================
   Inputs
   ===================== */

.transparent-input{
    background: rgba(255, 255, 255, 0.2);
    color: #FFF;
    @include border-radius(2px);

    .text-input-ios {
        padding-left: 15px;
    }
}
.item-label-floating {
    background: transparent;

    ion-label{
        font-size: 14px;
        font-weight: $font-regular;
    }
}


/* =====================
   Buttons
   ===================== */

.custom-btn{
    height: 4.6rem;
    background: $dark-blue;
    box-shadow: none;
    @include border-radius(2px);
}
.theme-btn{
    background: $theme-color;
    box-shadow: none;
}
.theme-btn-outline{
    border-color: $theme-color;
    color: $theme-color;
}


/* =====================
   Generic
   ===================== */
body{
    font-family: roboto !important;
}
.vc-align{
    display: table;
    width: 100%;
    height: 100%;
    position: relative;

    .vc-align-inner{
        display: table-cell;
        vertical-align: middle;
    }

    .login-section{
        padding-bottom: 120px;

        a{
            color: #FFF;
            display: inline-block;
            margin-top: 10px;
            text-decoration: none;
        }
    }
    .bottom-logo{
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        
        span.copyright-text{
            display: block;
            margin-top: 10px;
            color: #FFF;
            font-size: 10px;
            font-weight: $font-light;
        }
    }
}

.sub-heading{
    font-weight: $font-regular;
}

ion-img{
    background: transparent;
}

.blue-header{

    .toolbar-background{
        background: $theme-color;
    }
    .toolbar-title{
        font-size: 1.5rem;
        font-weight: $font-medium;
        color: #ffffff;
        text-align: center;
    }

    .header-img-btn{
        border: 2px solid #fff;
        @include border-radius(50%);
        overflow: hidden;
        width: 34px;
        height: 34px;

        img{
            height: 30px;
            width: 30px;
            display: block;
            @include border-radius(50%);
        }
    }

    .sub-header{
        min-height: 40px;
        
        .toolbar-background{
            background: $body-bg;
            color: #000;
            font-size: 15px;
        }

        .sub-heading{
            font-weight: 500;
        }
    }

    .bottom-border{
        border-bottom: 1px solid #f1f1f1;
    }
}

.scroll-content{
    background: $body-bg;
}

.success-check{
    height: 125px;
    width: 125px;
    margin: 0 auto;
    text-align: center;
    background: #15db95;
    color: #FFF;
    font-size: 40px;
    @include border-radius(50%);
    line-height: 135px;
}

.upload-image{
    margin: 0 auto;
    height: 150px;
    width: 150px;
    @include border-radius(50%);
    overflow: hidden;
}

.absolute{
    position: absolute;
}

.white-bg{

    .scroll-content{
        background: #FFF;
    }
}

.avatar-list{

    .item{
        margin-bottom: 15px;
        @include box-shadow(0px 0px 2px 1px rgba(0, 0, 0, 0.025));
        @include border-radius(2px);
        border: 1px solid #f1f1f1;

        h2{
            font-size: 1.4rem;
            font-weight: $font-medium;
            margin-top: 2px;
        }

        p{
            font-size: 1.2rem;
            color: $extra-light-grey;
        }

        ion-avatar {
            border: 2px solid #f1f1f1;
            border-radius: 50%;
        }

        .item-inner{
            border: 0;
        }
    }
}

.minimal, .iconed, .numbered{
    .item p{
        color: #666;
    }
}

.minimal{

    .item{
        margin: 0;
        @include box-shadow(none);
        @include border-radius(0);
        border: 0;
        border-bottom: 1px solid #f1f1f1;
    }
}

.iconed{

    ion-avatar {
        border: 0 !important;
        padding-top: 8.5px;
        background: #fbfbfb;
        color: $extra-light-grey;
        text-align: center;
    }
}

.icon-transparent{

    ion-avatar{
        border: 0 !important;
        min-height: 30px;
        min-width: 30px;
        color: $extra-light-grey;
        font-size: 24px;
    }

    .item{
        p{
            color: #666;
            font-weight: $font-medium;
        }
    }
}

.numbered{

    ion-item{
        border-left: 3px solid #8860d0 !important;
    }
    
    ion-avatar{
        min-height: 30px;
        min-width: 30px;
        background: #9c9c9c;
        padding-top: 7px;
        
        span{
            color: #FFF;
            font-size: 12px;
        }
    }
}

.location-info{
    padding: 30px 15px;
    border-bottom: 2px solid #f1f1f1;

    .location-image{
        height: 100px;
        width: 100px;
        border: 2px solid #f1f1f1;
        @include border-radius(50%);
        overflow: hidden;
        display: inline-block;

        img{
            height: 100px;
            width: 100px;
            display: block;
        }
    }

    h2{
        font-size: 1.4rem;
    }

    p{
        font-size: 1.2rem;
        color: $extra-light-grey;
        margin-bottom: 0;
    }
}

.accordion-expandable{
    padding: 0 15px 0 60px;
    background: #fdfdfd;
    border-bottom: 1px solid #f1f1f1;
    color: #717171;
}

.drop-caret{
    position: absolute;
    right: 15px;
    top: 18px;
}

.header-divider{
    border-top: 1px solid #59b5ff;
}

.progress-bar-timer{
    position: absolute;
    bottom: 0;
    z-index: 999;
    width: 100%;
    left: 0;
    right: 0;

    .progress-done{
        height: 5px;
        background: #FFF;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .danger{
        background: red;
    }
}

.small-text{
    font-size: 11px;
}

.list-checked{
    background: $dark-blue;

    ion-avatar{
        color: #FFF;
    }

    p{
        color: #FFF !important;
    }
}

.list-checked:before{
    content: "\f2bc";
    color: #FFF;
    position: absolute;
    right: 14px;
    background: #57677a;
    height: 28px;
    width: 28px;
    text-align: center;
    font-family: "Ionicons";
    line-height: 28px;
    @include border-radius(50%);
}

.numbered{

    .list-checked{
        ion-avatar{
            background: #FFF;

            span{
                color: #666;
            }
        }
    }
}

.icon-label ion-label {
    background: #88b3ff;
    height: 20px;
    min-width: 20px;
    @include border-radius(10px);
    color: #FFF;
    text-align: center;
    padding: 4px;
    font-size: 11px;
}

.grid-border-col-4{
    background: #f9f9f9;

    ion-row{

        ion-col{
            

            div{
                text-align: center;
                padding: 35px 0;
                font-size: 18px;
                border: 1px solid #e0e0e0;
                border-top: 0;
                color: #666;
            }

            div.active{
                background: $dark-blue;
                color: #FFF;
            }
        }

        ion-col:nth-child(2n + 2) div{
            border-left: 0;
            border-right: 0;
        }

        ion-col:nth-child(4n + 1) div{
            border-left: 0;
        }
    }
}
.grid-border-col-3{
    background: #f9f9f9;

    ion-row{

        ion-col{
            

            div{
                text-align: center;
                padding: 40px 0;
                font-size: 18px;
                border: 1px solid #e0e0e0;
                border-top: 0;
                color: #666;
            }
        }

        ion-col:nth-child(3n + 2) div{
            border-left: 0;
            border-right: 0;
        }

        ion-col:nth-child(3n + 1) div{
            border-left: 0;
        }

        ion-col:nth-child(3n + 3) div{
            border-right: 0;
        }
    }
}

.big-input{
    font-size: 32px;
    padding: 10px 0;
}

.options-list{

    ion-item{

        .item-inner{
            border-bottom: 0 !important;
        }
    }
}

.h200{
    textarea{
        min-height: 150px;
    }
}

.nav-back{
    top: 6px;
    border: 0;
    color: #FFF;
    font-size: 18px;
    position: absolute;
    z-index: 999;
}

.number-icon{
    background: #888888;
    color: #FFF;
    display: inline-block;
    height: 25px;
    min-width: 25px;
    padding: 7px;
    @include border-radius(50%);
    text-align: center;
    font-size: 11px;
    margin-right: 10px;
}

.full-card{
    width: 100%;
    position: relative;
}

.overlayed {
    position: absolute;
    bottom: 20px;
    color: #FFF;
    left: 10px;
    font-size: 18px;
    padding-left: 50px;

    span{
        background: $theme-color;
        height: 30px;
        width: 30px;
        display: inline-block;
        text-align: center;
        margin-right: 15px;
        @include border-radius(50%);
        vertical-align: middle;
        line-height: 31px;
        font-size: 14px;
        position: absolute;
        left: 5px;
        bottom: -3px;
    }
}

ion-modal.inset-modal {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, .5) !important;
    transition: opacity .25s ease-in-out;
    padding: 22vh 10vw;

    ion-content{
        @include border-radius(3px);
    }

    ion-header{
        @include border-radius( 3px 3px 0 0);
        overflow: hidden;
    }

    ion-footer{
        @include border-radius( 0 0 3px 3px);
    }
}

.warning-icon{
    width: 60px;
    font-size: 40px;
    text-align: center;
    margin: 20px auto;
    color: #F77E1C;
}
  
/* =====================
   CSS Helpers
   ===================== */

.mt-1{
    margin-top:1*1rem !important;
}
.mt-0{
    margin-top:0 !important;
}
.mt-2{
    margin-top:2*1rem !important;
}
.mt-3{
    margin-top:3*1rem !important;
}
.mt-4{
    margin-top:4*1rem !important;
}
.mt-5{
    margin-top:5*1rem !important;
}
.mb-0{
    margin-bottom:0 !important;
}
.mb-1{
    margin-bottom:1*1rem !important;
}
.mb-2{
    margin-bottom:2*1rem !important;
}
.mb-3{
    margin-bottom:3*1rem !important;
}
.mb-4{
    margin-bottom:4*1rem !important;
}
.mb-5{
    margin-bottom:5*1rem !important;
}

.no-radius{
    @include border-radius(0);
}

/* =====================
   Tables
   ===================== */

table.table{
    width: 100%;
    border-collapse: collapse;
    border: 0;
    font-size: 13px;

    thead, tbody{

        tr{

            th{
                font-weight: $font-regular;
                text-align: left;
                padding: 10px 20px;
                background: #f3f3f3;
                border-top: 1px solid #eaeaea;
                border-bottom: 1px solid #eaeaea;
                color: #717171;
                vertical-align: middle;
            }

            td{
                text-align: left;
                padding: 10px 20px;
                vertical-align: middle;
                border-bottom: 1px solid #eaeaea;

                .number-icon{
                    background: #FFF;
                    color: $dark-blue;
                }
            }
        }

        tr.active td{
            background: $dark-blue;
            color: #FFF;

            .checkbox-icon{
                border-color: #e0e0e0;
            }

            .checkbox-checked{
                border-color: #FFF;
                background: #FFF;

                .checkbox-inner{
                    border-color: $dark-blue;
                }
            }
        }
    }
}

/* =====================
   Placeholders
   ===================== */

.transparent-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #EEEEEE;
}
.transparent-input input::-moz-placeholder { /* Firefox 19+ */
    color: #EEEEEE;
}
.transparent-input input:-ms-input-placeholder { /* IE 10+ */
    color: #EEEEEE;
}
.transparent-input input:-moz-placeholder { /* Firefox 18- */
    color: #EEEEEE;
}